body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

.typewriter-text{
    position: relative;
    top: 50%;  
    width: 19em;
    margin: 0 auto;
    border-right: 10px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} 

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(36) 1s 1 normal both,
             blinkTextCursor 1000ms steps(36) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}