.App {
  text-align: center;
  /* height: 100vh; */
}

.hero-text-container {
  width: 65%;
  text-align: center;
} 

.hero-title {
  text-transform: uppercase;
  font-size: 4vw;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
